/* Styles généraux pour mobile */

body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  overflow: hidden; /* Empêche le débordement */
}

#game-container {
  width: 100%; /* Largeur dynamique */
  max-width: 600px; /* Largeur max pour le jeu */
  height: 640px; /* Hauteur fixe pour le jeu */
}

h1 {
  font-size: 2.2em;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}

#start-btn {
  padding: 10px 25px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 20px;
}

#start-btn:hover {
  background-color: #229954;
}

#home-btn {
    position: absolute;
    background-image: url("../assets/Icons/homeGREEN.svg");
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#home-btn:active {
    background-image: url("../assets/Icons/homeBEIGE.svg");
}

#back-btn {
    position: absolute;
    background-image: url("../assets/Icons/backGREEN.svg");
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#back-btn:active {
    background-image: url("../assets/Icons/backGREEN.svg");
}


/* Media queries pour tablettes et petits écrans */
@media (min-width: 768px) {
  #start-btn {
    font-size: 1.5em;
    padding: 15px 30px;
  }

  #home-btn {
    font-size: 1em;
    padding: 12px 18px;
  }
}

/* Pour les écrans de bureau (desktop) */
@media (min-width: 1024px) {
  body {
    justify-content: center;
    align-items: center;
  }

  #start-btn {
    font-size: 1.8em;
    padding: 20px 40px;
  }

  #home-btn {
    font-size: 1.1em;
    padding: 14px 20px;
  }

  
}

