body {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(25, 60, 64);
    background: linear-gradient(0deg, rgba(25, 60, 64, 1) 32%, rgba(27, 89, 78, 1) 100%);
}

#game-container {
    width: 80%;
    height: 60%;
    margin-top: 20%;
}

#start-btn {
    position: absolute;
    top: 40%;
    margin-top: 5%;
    padding: 5%;
    padding-left: 5%;
    width: 50px;
    height: 50px;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 15px white;
    border-radius: 50%;
    background-image: url("../assets/Icons/playWhite.svg");
    background-size: 50%; /* Ajuste selon tes besoins */
    background-position: center;
    background-repeat: no-repeat;
}

#home-btn {
    position: absolute;
    background-image: url("../assets/Icons/house\ \(9\).svg");
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#back-btn {
    position: absolute;
    background-image: url("../assets/Icons/arrow-left\ \(2\).svg");
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Media queries pour tablettes et petits écrans */
@media (min-width: 768px) {
    #start-btn {
        width: 50px;
        height: 50px;
    }

    #home-btn {
        font-size: 1em;
        padding: 12px 18px;
    }

    #home-btn,
    #back-btn {
        width: 35px;
        height: 35px;
    }
}

/* Pour les écrans de bureau (desktop) */
@media (min-width: 1024px) {
    body {
        justify-content: center;
        align-items: center;
    }

    #start-btn {
        width: 50px;
        height: 50px;
    }

    #home-btn {
        font-size: 1.1em;
        padding: 14px 20px;
    }
    #home-btn,
    #back-btn {
        width: 40px;
        height: 40px;
    }
}
