body {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background: rgb(25, 60, 64);
    background: linear-gradient(0deg, rgba(25, 60, 64, 1) 32%, rgba(27, 89, 78, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#home-page {
    width: 90%;
    height: 30%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    color: #44f2d2;
    margin-bottom: 20px;
    text-shadow: 2px 2px 10px white;
    letter-spacing: 2px;
}

h3 {
    text-align: center;
    font-size: 1.1em;
    color: #2b9380;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

a {
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#concept-btn {
    padding: 2%;
    width: 15%;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 15px white;
    border-radius: 50%;
    background-image: url("../assets/Icons/bookWhite.svg");
    background-size: 40%; /* Ajuste selon tes besoins */
    background-position: center;
    background-repeat: no-repeat;
}
#inscription-btn {
    padding: 2%;
    width: 15%;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 15px white;
    border-radius: 50%;
    background-image: url("../assets/Icons/penWhite.svg");
    background-size: 40%; /* Ajuste selon tes besoins */
    background-position: center;
    background-repeat: no-repeat;
}
#login-btn {
    padding: 2%;
    width: 15%;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 15px white;
    border-radius: 50%;
    background-image: url("../assets/Icons/KeyWhite.svg");
    background-size: 40%; /* Ajuste selon tes besoins */
    background-position: center;
    background-repeat: no-repeat;
}

#install-button {
    padding: 2%;
    width: 15%;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 15px white;
    border-radius: 50%;
    background-image: url("../assets/Icons/smartphoneWhite.svg");
    background-size: 40%; /* Ajuste selon tes besoins */
    background-position: center;
    background-repeat: no-repeat;
}

/* Media queries pour les écrans plus larges (tablettes et desktop) */
@media (min-width: 768px) {
    h1 {
        font-size: 3em;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 1.6em;
        margin-bottom: 50px;
    }

    #concept-btn,
    #inscription-btn,
    #login-btn,
    #install-button {
        max-width: 70px;
    }

    #home-btn,
    #back-btn {
        width: 35px;
        height: 35px;
    }
}

/* Media queries pour les écrans de bureau (desktop) */
@media (min-width: 1024px) {
    h1 {
        font-size: 3.2em;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 1.8em;
        margin-bottom: 60px;
    }

    #concept-btn,
    #inscription-btn,
    #login-btn,
    #install-button {
        max-width: 70px;
    }

    #home-btn,
    #back-btn {
        width: 40px;
        height: 40px;
    }
}
