body {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(25, 60, 64);
  background: linear-gradient(
    0deg,
    rgba(25, 60, 64, 1) 32%,
    rgba(27, 89, 78, 1) 100%
  );
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
  color: #44f2d2;
  text-shadow: 1px 2px 5px white;
  letter-spacing: 2px;
}

p {
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
}

#inscription-page {
  width: 70%;
  max-width: 350px; /* Largeur max pour empêcher un conteneur trop large */
  height: auto;
  color: #2b9380;
  border: 1px solid #44f2d2;
  box-shadow: 2px 2px 20px white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

#inscriptionForm {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  width: 100%;
  max-width: 200px;
  height: 15%;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 2px 2px 10px #44f2d2;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  padding-left: 5%;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  padding-left: 2%;
}

#home-btn {
  position: absolute;
  background-image: url("../assets/Icons/house\ \(9\).svg");
  top: 30px;
  right: 30px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#back-btn {
  position: absolute;
  background-image: url("../assets/Icons/arrow-left\ \(2\).svg");
  top: 30px;
  left: 30px;
  padding: 10px 15px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#inscription-btn {
  margin-top: 5%;
  width: 50px; /* largeur fixe */
  height: 50px; /* hauteur fixe */
  border: 1px solid #44f2d2;
  box-shadow: 2px 2px 15px white;
  border-radius: 50%;
  background-image: url("../assets/Icons/pencil-line (2).svg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1; /* Maintenir un ratio carré */
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #2b9380;
}

/* Media queries pour les tablettes et desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 2.2em;
  }

  input {
    max-width: 200px;
    font-size: 1em;
  }

  #inscription-page {
    width: 60%; /* Largeur adaptée pour tablette */
    max-width: 600px; /* Ajuster la largeur max */
  }

  #inscription-btn {
    width: 60px;
    height: 60px;
    background-size: 40%;
  }

  #home-btn,
  #back-btn {
    width: 35px;
    height: 35px;
  }
}

/* Pour les écrans de bureau (desktop) */
@media (min-width: 1024px) {
  h1 {
    font-size: 2.4em;
  }

  #home-btn {
    padding: 14px 20px;
  }

  input {
    max-width: 200px;
    font-size: 1.2em;
  }

  #inscription-page {
    width: 50%; /* Largeur adaptée pour tablette */
    max-width: 800px; /* Ajuster la largeur max */
  }
  #inscription-btn {
    width: 60px;
    height: 60px;
    background-size: 40%;
  }

  #home-btn,
  #back-btn {
    width: 40px;
    height: 40px;
  }
}
