body {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(25, 60, 64);
    background: linear-gradient(0deg, rgba(25, 60, 64, 1) 32%, rgba(27, 89, 78, 1) 100%);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #44f2d2;
    text-shadow: 1px 2px 5px white;
    letter-spacing: 2px;
}

p {
    font-size: 1.1em;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}

#login-page {
    width: 70%;
    height: 60%;
    color: #2b9380;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 20px white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

label {
    position: relative;
    top: 5%;
}

input {
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 2px 2px 10px #44f2d2;
}

::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    padding-left: 2%;
}

#home-btn {
    position: absolute;
    background-image: url("../assets/Icons/house\ \(9\).svg");
    top: 30px;
    right: 30px;
    padding: 10px 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#back-btn {
    position: absolute;
    background-image: url("../assets/Icons/arrow-left\ \(2\).svg");
    top: 30px;
    left: 30px;
    padding: 10px 15px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#login-btn {
    margin-top: 5%;
    padding: 2%;
    width: 20%;
    height: 20%;
    border: 1px solid #44f2d2;
    box-shadow: 2px 2px 15px white;
    border-radius: 50%;
    background-image: url("/Interface3Hackaton/assets/Icons/KeyWhite.svg");
    background-size: 60%; /* Ajuste selon tes besoins */
    background-position: center;
    background-repeat: no-repeat;
}

/* Media queries pour les tablettes et desktop */
@media (min-width: 768px) {
    h1 {
        font-size: 2.2em;
    }

    input {
        max-width: 400px;
        font-size: 1em;
    }

    #login-btn {
        max-width: 250px;
        font-size: 1.2em;
    }
    #home-btn,
    #back-btn {
        width: 35px;
        height: 35px;
    }
}

/* Pour les écrans de bureau (desktop) */
@media (min-width: 1024px) {
    h1 {
        font-size: 2.4em;
    }

    #home-btn {
        padding: 14px 20px;
    }

    input {
        max-width: 400px;
        font-size: 1.2em;
    }

    #login-btn {
        max-width: 250px;
        font-size: 1.3em;
    }
    #home-btn,
    #back-btn {
        width: 40px;
        height: 40px;
    }
}
