body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
}

#login-page {
    width: 70%;
    height: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginForm {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

label {
    position: relative;
    top: 5%;
}

input {
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
}

#home-btn {
    position: absolute;
    background-image: url("../assets/Icons/homeGREEN.svg");
    top: 30px;
    right: 30px;
    padding: 10px 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#home-btn:active {
    background-image: url("../assets/Icons/homeBEIGE.svg");
}

#back-btn {
    position: absolute;
    background-image: url("../assets/Icons/backGREEN.svg");
    top: 30px;
    left: 30px;
    padding: 10px 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#back-btn:active {
    background-image: url("../assets/Icons/backGREEN.svg");
}

#login-btn {
    width: 50%;
    height: 15%;
    margin-top: 5%;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #226d68;
}

/* Media queries pour les tablettes et desktop */
@media (min-width: 768px) {
    h1 {
        font-size: 2.2em;
    }

    input {
        max-width: 400px;
        font-size: 1em;
    }

    #login-btn {
        max-width: 250px;
        font-size: 1.2em;
    }
}

/* Pour les écrans de bureau (desktop) */
@media (min-width: 1024px) {
    h1 {
        font-size: 2.4em;
    }

    #home-btn {
        padding: 14px 20px;
    }

    input {
        max-width: 400px;
        font-size: 1.2em;
    }

    #login-btn {
        max-width: 250px;
        font-size: 1.3em;
    }
}
